$shoping-cart-primary: (
  50: #d6d6d6,
  100: #c2c2c2,
  200: #adadad,
  300: #999999,
  400: #858585,
  500: #002A59,
  600: #12bfd6,
  700: #2a9fd4,
  800: #083344,
  900: #3563c7,
  contrast: (
    50: rgba(214, 214, 214, 0.87),
    100: rgba(194, 194, 194, 0.87),
    200: rgba(173, 173, 173, 0.87),
    300: rgba(153, 153, 153, 0.87),
    400: rgba(133, 133, 133, 0.87),
    500: #f9f9f9,
    600: #f9f9f9,
    700: #f9f9f9,
    800: #f9f9f9,
    900: #f9f9f9,
  ),
);

$shoping-cart-accent: (
  50: #f9f9f9,
  100: #f5f5f5,
  200: #e0e0e0,
  300: #cccccc,
  400: #b8b8b8,
  500: #f9f9f9,
  600: #8f8f8f,
  700: #7a7a7a,
  800: #666666,
  900: #525252,
  contrast: (
    50: rgba(214, 214, 214, 0.87),
    100: rgba(194, 194, 194, 0.87),
    200: rgba(173, 173, 173, 0.87),
    300: rgba(153, 153, 153, 0.87),
    400: rgba(133, 133, 133, 0.87),
    500: #f9f9f9,
    600: rgba(92, 92, 92, 0.87),
    700: rgba(71, 71, 71, 0.87),
    800: #f9f9f9,
    900: #f9f9f9,
  ),
);
