<section class="bg-cyan-DEFAULT-950 dark:bg-gray-900">
    <div
        class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-cyan-DEFAULT-950 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Create your account
            </h1>
            <form class="space-y-4 md:space-y-6" [formGroup]="form">

                <div class="grid grid-cols-2 gap-2">
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
                            Name</label>
                        <input type="text" id="name"
                            class="bg-cyan-DEFAULT-950 border border-gray-300 text-cyan-DEFAULT-950 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:cyan-DEFAULT-950 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Name" formControlName="name" required>

                        <div *ngIf="form.controls['name'].hasError('required') " class="grid grid-cols-1 ml-1 mt-1">
                            <label class="text-3 text-red-500 font-bold">
                                Name is required!
                            </label>
                        </div>
                    </div>

                    <div>
                        <label for="last" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last
                            Name</label>
                        <input type="text" id="lastName"
                            class="bg-cyan-DEFAULT-950 border border-gray-300 text-cyan-DEFAULT-950 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:cyan-DEFAULT-950 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Last Name" formControlName="lastName" required>

                        <div *ngIf="form.controls['lastName'].hasError('required') " class="grid grid-cols-1 ml-1 mt-1">
                            <label class="text-3 text-red-500 font-bold">
                                Last Name is required!
                            </label>
                        </div>
                    </div>

                </div>


                <div class="grid grid-cols-2 gap-2">

                    <div>
                        <label for="email"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <input type="email" id="email"
                            class="bg-cyan-DEFAULT-950 border border-gray-300 text-cyan-DEFAULT-950 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:cyan-DEFAULT-950 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="name@company.com" formControlName="email" required>

                        <div *ngIf="form.controls['email'].hasError('required') " class="grid grid-cols-1 ml-1 mt-1">
                            <label class="text-3 text-red-500 font-bold">
                                Email is required!
                            </label>
                        </div>
                    </div>
                    <div>
                        <label for="password"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input type="password" id="password" placeholder="••••••••"
                            class="bg-cyan-DEFAULT-950 border border-gray-300 text-cyan-DEFAULT-950 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:cyan-DEFAULT-950 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            required formControlName="password">

                        <div *ngIf="form.controls['password'].hasError('required') " class="grid grid-cols-1 ml-1 mt-1">
                            <label class="text-3 text-red-500 font-bold">
                                Password is required!
                            </label>
                        </div>
                    </div>


                </div>


                <textarea
                    class="bg-cyan-DEFAULT-950 border border-gray-300 text-cyan-DEFAULT-950 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:cyan-DEFAULT-950 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    id="address" placeholder="Address" formControlName="address" required></textarea>

                <div *ngIf="form.controls['address'].hasError('required') " class="grid grid-cols-1 ml-1 -mt-4">
                    <label class="text-3 text-red-500 font-bold">
                        Address is required!
                    </label>
                </div>




                <button [disabled]="form.invalid" (click)="save()" type="button"
                    class="w-full border-2 border-white text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-white  font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Create
                </button>
            </form>
        </div>
    </div>
</section>